<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Materias</title>
	
	<!--<link href="@{css/bootstrap.min.css}" rel="stylesheet integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>-->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <label class="navbar-brand">Campus Virtual</label>
    </nav>

    <h4>Listado de Materias</h4>

    <table>
        <th:block th:each="sub : ${subjects}">
            <tr>
                <td th:text="${sub.name}"></td>
                <td th:text="${sub.schedule}"></td>
                <td th:text="${sub.spaceAvailable}"></td>
            </tr>
        </th:block>
    </table>
</body>
</html>